= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-body.text-center
    %h3.text-center.success-text Successfully created workout


    %a.btn.btn-primary{:href => '/workouts', :class => "margin-top-half"} View workouts
