.background-image
  width: 100vw
  height: 100vh
  background-image: url(login-background.png)
  background-size: cover
  position: fixed
  top: 0


.sign_up_title
  color: white
  font-weight: bold


.loginform, .sign_up_form
  text-align: center
  input
    background-color: rgba(255,131,81,0)
    width: 60vw
    height: 3em
    border: none
    margin-top: 1em
    padding: 0 1em
    border-bottom: solid
    border-width: thin
    color: white
    font-weight: bolder
    border-color: rgba(255,255,255,0.85)
    :-webkit-autofill
      background-color: transparent !important
      color: white
      font-weight: bolder

    &::-webkit-input-placeholder
      color: white
    &:-moz-placeholder
      /* FF 4-18
      color: white
      opacity: 1
    &::-moz-placeholder
      /* FF 19+
      color: white
      opacity: 1
    &:-ms-input-placeholder
      /* IE 10+
      color: white
    &::-ms-input-placeholder
      /* Microsoft Edge
      color: white
    &::placeholder
      /* modern browser
      color: white


.loginform form a, .sign_up_form form a
  color: white
  text-decoration: none
  position: relative
  top: 20px



.login-form-submit input
  background-color: #ff7c48
  color: white
  border: none
  margin-top: 2em
  padding: 0 1em
  border-radius: 20px

.error, .error_notification
  color: red
  position: relative
  font-weight: bolder
  display: block
  text-align: center
