.header-grid
  display: inline-grid
  grid-template-columns: 20% 60% 20%
  text-align: center

.footer-grid
  display: grid
  grid-template-columns: 20% 20% 20% 20% 20%
  height: 2em
  text-align: center
.footer-grid-item
  width: 20%
  height: 2em
.footer-grid-item:hover
