.header-grid
  display: inline-grid
  grid-template-columns: 20% 60% 20%
  text-align: center

.footer-grid
  display: grid
  grid-template-columns: 20% 20% 20% 20% 20%
  height: 2em
  overflow: hidden
.footer-grid-item
  width: 20%
  height: 2em
  text-align: center
  font-size: 1em
.width_85
  width: 85%
  margin: 0 auto
.width_90
  width: 90%
  margin: 0 auto
.padding-top
  padding-top: 4em
.padding-bottom
  padding-bottom: 4em
body
  overflow-x: hidden
.width_100
  width: 100vw

header
  width: 100%
  background-color: #111
  height: 4em
  position: fixed
  top: 0

footer
  position: fixed
  bottom: 0
  background-color: #111
  width: 100%
  li
    display: inline-block
    width: 15%
    text-align: center
    padding: auto
    a
      color: white
      font-size: 1em
      text-decoration: none
    a:hover
      color: white
      text-decoration: underline
  ul
    text-align: center



.title
  text-align: center
  margin-top: auto
  margin-bottom: auto
  color: #919191
  padding-top: 1.5%
