= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-header.text-center
    #{@exercise.exercise_name}
  .card-body.text-center
    %h3.text-center.success-text Successfully created log


    %a.btn.btn-primary{:href => new_exercise_log_path, :class => "margin-top-half"} Add another
    %a.btn.btn-primary{:href => "/exercises", :class => "margin-top-half"} Exercises
