%footer
  %ul
    %li
      %a{href: "/"} Home
    %li
      %a{href: "/exercises"} Exercises
    %li
      %a{href: "/workouts"} Workouts
    %li
      %a{href: "/logs"} Logs
    %li
      %a{href: "/progress"} Progress
    %li
      %a{href: "/more"} More
