%footer
  %ul.footer-grid
    %li.footer-grid-item
      %a{href: "/"} Home
    %li.footer-grid-item
      %a{href: "/exercises"} Exercises
    %li.footer-grid-item
      %a{href: "/workouts"} Workouts
    %li.footer-grid-item
      %a{href: "/logs"} Logs
    %li.footer-grid-item
      %a{href: "/progress"} Progress
