%header.bg-dark.header-grid#header
  #mySidenav.sidenav
    %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
    %a{href: "/"} Home
    %a{href: "/exercises"} Exercises
    %a{href: "/workouts"} Workouts
    %a{href: "/logs"} Logs
    %a{href: "/progresses"} Progress
    = link_to('Logout', destroy_user_session_path, method: :delete)
  %span{:class => "burgermenu", :onclick => "openNav()", :style => "font-size:30px;cursor:pointer", :id => "burgermenu"} ☰

  %h1.title #{@title}
